<a href="https://colab.research.google.com/github/payalkhalage/payalkhalage/blob/main/Experiment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=int(input("enter the radius of circle"))
b=3.14*a*a
print(b)

enter the radius of circle20
1256.0

In [2]:


c=int(input("enter the first no"))
d=int(input("enter the second no"))
print(c+d)

enter the first no10
enter the second no20
30